<h1></h1>
<p><span class="badge badge-danger">Authors</span></p>
<div *ngIf="authors">
	<table  class="table table-striped table-dark table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">Author First Name</th>
	      <th scope="col">Author Last Name</th>
	      <th scope="col">Amount Of Books</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let author of authors.results">
	      <td>{{author.first_name}}</td>
	      <td>{{author.last_name}}</td>
	      <td> {{author.book_count}}</td>
	    </tr>
	    
	  </tbody>
	</table>
	<nav>
		  <ul class="pagination">
		    <li class="page-item" [class.disabled]="!authors.previous">
		      <a (click)="changePage(authors.previous)" class="page-link" tabindex="-1">Previous</a>
		    </li>
		   
		    <li class="page-item" [class.disabled]="!authors.next" >
		      <a (click)="changePage(authors.next)" class="page-link">Next</a>
		    </li>
		  </ul>
	</nav>
</div>

