<div class="jumbotron">
  <h1 class="display-4">Ceg Test Entrevista</h1>
  <p class="lead">Proyecto para entrevista a Nazareno Castro  </p>
  <hr class="my-4">
  <p>	Se convirtio el backend con los datos a una api-REST utilizando django-rest framwork <br>
  		Ademas se Utilizo Angular 5 para realizar la parte del frontend
  </p>
</div>