<h1></h1>
<p><span class="badge badge-dark">Books</span></p>
<div *ngIf="books">
	<table  class="table table-striped table-dark table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">Title</th>
	      <th scope="col">Author</th>
	      <th scope="col">Libraries</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let book of books.results">
	      <td>{{book.title}}</td>
	      <td>{{book.author.first_name}} {{book.author.last_name}}</td>
	      <td> 
	      	<span *ngFor="let library of book.libraries"> 
	      		{{library.name}}
	      		</span>
	      </td>
	    </tr>
	    
	  </tbody>
	</table>

	<nav>
	  <ul class="pagination">
	    <li class="page-item" [class.disabled]="!books.previous">
	      <a (click)="changePage(books.previous)" class="page-link" tabindex="-1">Previous</a>
	    </li>
	   
	    <li class="page-item" [class.disabled]="!books.next" >
	      <a (click)="changePage(books.next)" class="page-link">Next</a>
	    </li>
	  </ul>
	</nav>
</div>