
<br>
<br>
<br>
<div class='row justify-content-md-center'>
  <div class="padding col-lg-4  border border-dark">
  <form name="form" #f="ngForm" novalidate>
    <h2>Login</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" aria-describedby="emailHelp" placeholder="Enter username" required />
      <small id="emailHelp" class="form-text text-muted">This service is SuperSecure</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
    </div>
    <button (click)="login()" type="submit" class="btn btn-primary">Login</button>

    <small *ngIf="isVisible" class="text-danger strong">{{errorMessage}}</small>
  </form>
  <div>
</div>