<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" data-toggle="tooltip" data-placement="bottom" title="Home">Ceg Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/books" data-toggle="tooltip" data-placement="bottom" title="List of Books" class="nav-link" routerLinkActive="active">Books</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="/authors" data-toggle="tooltip" data-placement="bottom" title="List of Authors" class="nav-link" routerLinkActive="active">Authors</a>
      </li>  
      <li class="nav-item">
        <a routerLink="/libraries" data-toggle="tooltip" data-placement="bottom" title="List of Libraries" class="nav-link" routerLinkActive="active">Libraries</a>
      </li>
    </ul>
    <a routerLink="/logout" class="btn btn-outline-danger my-2 my-sm-0"> LogOut </a>
  </div>
</nav>
<br>
<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col col-lg-1"></div>
		
		<div class='col col-lg-10'>
			
			<router-outlet></router-outlet>
			
		</div>
		
		<div class="col col-lg-1"></div>
	</div>

</div>