<h1></h1>
<p><span class="badge badge-warning">Libraries</span></p>
<div *ngIf="libraries">
	<table  class="table table-striped table-dark table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Book Count</th>
	      <th scope="col">Author Count</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let library of libraries.results">
	      <td>{{library.name}}</td>
	      <td>{{library.book_count}}</td>
	      <td>{{library.author_count}}</td>
	    </tr>
	    
	  </tbody>
	</table>

	<nav>
	  <ul class="pagination">
	    <li class="page-item" [class.disabled]="!libraries.previous">
	      <a (click)="changePage(libraries.previous)" class="page-link" tabindex="-1">Previous</a>
	    </li>
	   
	    <li class="page-item" [class.disabled]="!libraries.next" >
	      <a (click)="changePage(libraries.next)" class="page-link">Next</a>
	    </li>
	  </ul>
	</nav>
</div>
